* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

h1, h3 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Fauna One', serif;
}


.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 20px;
    
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0; */
}

/* .home-container {
    margin-top: 66px;
} */

.navbar a {
    padding: 0px 25px 0px 10px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

i {
    color: tomato;
    font-size: 20px;
    padding-right: 8px;
}

.predictor-float-right {
    float: right;
}

.container {
    position: relative;
}

.home-container {
    height: 700px;
    background-image: linear-gradient(to bottom right, pink, lightblue);
}

.home-content {
    position: absolute;
    top: 180px;
    left: 60px;
}

.home-h1 {
    font-size: 1.5rem;
}

.home-h2 {
    font-size: 2rem;
    font-weight: bold;
}

.home-para {
    max-width: 700px;
}

.home-img {
    position: absolute;
    top: 150px;
    left: 800px;
    width: 500px;
    height: 300px;
    border-radius: 50px;

    border: 3px solid rgb(253, 124, 101);
    padding: 8px;
}

.home-para {
    font-size: 1.3rem;
}

.home-prediction-btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.3rem;
    font-variant: small-caps;
    border-radius: 8px;
}

.home-prediction-btn:hover {
    background-image: linear-gradient(to bottom right, #fcaebb, rgb(107, 107, 247));
    color: blueviolet;

    box-shadow: 0 4px 8px 0 palevioletred, 0 6px 20px 0 palevioletred;
    cursor: pointer;
}

.about-img {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 500px;
    height: 300px;
    border-radius: 50px;

    border: 3px solid rgb(253, 124, 101);
    padding: 8px;
}

.about-content {
    position: absolute;
    top: 110px;
    left: 600px;
}

.about-h1 {
    font-size: 2rem;
    font-weight: bold;
    float: right;
    padding-right: 50px;
}

.about-para{
    font-size: 1.3rem;
    padding: 50px 50px 0px 50px;
    text-align: justify;
    line-height: 1.6;
    clear: right;
}

.contributors-content {
    position: absolute;
    top: 60px;
    left: 60px;
}

.contributors-h1 {
    font-size: 2rem;
}

.con-data {
    width: 350px;
    height: 450px;
    border-radius: 50px;

    position: absolute;
    top: 50px;
    left: 50px;
}

.con-details {
    position: absolute;
    top: -50px;
    left: -10px;
}

.con-image {
    position: absolute;
    top: 80px;
    left: 72px;
    width: 220px;
    height: 200px;
    border-radius: 50%;
}

.con-name {
    position: absolute;
    top: 320px;

    right: -341.1px;
    left: 28px;
}

.con-name h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.con-name h3 {
    font-size: 1.1rem;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Launa One';
}

.con-contact {
    position: absolute;
    top: 378px;
    left: 56px;
}

.con-contact i {
    font-size: 40px;
    padding-right: 22px;
}

.con-contact i:hover{
    color: blueviolet;
}

.con-data:hover {
    box-shadow: 0 4px 8px 0 palevioletred, 0 6px 20px 0 palevioletred;

    /* background-color: white; */
}

.con2-data {
    margin-left: 400px;
}

.con2-name {
    top: 305px;
}

.con3-data {
    margin-left: 800px;
}